@import "tailwindcss";

:root {
  /* Primary Background */
  --background: #FAFAFA;

  /* Primary Foreground */
  --foreground: #171717;

  /* Typography */
  --text-primary: black; /* Primary text color (light off-white) */
  --text-secondary: #73163e; /* Secondary text color (muted pinkish beige) */



  /* UI Elements */
  --link-color: #ffd369; /* Links color */
  --link-hover-color: #ffb627; /* Active/hover link color */
  --divider-color: #94405c; /* Divider color */

  /* Sections / Cards */
  --card-bg: #73163e; /* Card background */
  --footer-bg: #3b061a; /* Footer background */
  --header-bg: #5c0a29; /* Footer background */


  /* Optional Accent Colors */
  --accent-blue: #38b6ff; /* Cool blue for tags, highlights */
  --accent-green: #7fffd4; /* Mint green for success messages */
  --accent-rose:  #9a4a6b; /* Warm rose for alerts or decorative accents */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Typography */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-heading-text: var(--heading-text);

  /* Buttons */
  --color-btn-primary-bg: var(--btn-primary-bg);
  --color-btn-primary-text: var(--btn-primary-text);
  --color-btn-primary-hover-bg: var(--btn-primary-hover-bg);
  --color-btn-secondary-border: var(--btn-secondary-border);
  --color-btn-secondary-text: var(--btn-secondary-text);
  --color-btn-secondary-hover-bg: var(--btn-secondary-hover-bg);

  /* UI Elements */
  --color-link: var(--link-color);
  --color-link-hover: var(--link-hover-color);
  --color-divider: var(--divider-color);

  /* Sections / Cards */
  --color-card-bg: var(--card-bg);
  --color-footer-bg: var(--footer-bg);
  --color-header-bg: var(--header-bg);
  --color-footer-text: var(--footer-text);

  /* Optional Accent Colors */
  --color-accent-blue: var(--accent-blue);
  --color-accent-green: var(--accent-green);
  --color-accent-rose: var(--accent-rose);
}

@theme {
  --font-arial-black: 'Arial Black', Arial, sans-serif;
  --font-trebuchet: 'Trebuchet MS', Helvetica, sans-serif;
  --font-lucida: 'Lucida Sans Unicode', sans-serif;
  --font-jost: 'Jost' sans-serif;
  
  --animate-zoom-in-out: zoomInOut 2s ease-in-out forwards;
  --animate-right2left: slideLeft 0.5s ease-out;
  --animate-left2right: slideRight 0.5s ease-out;
  --animate-smoothZoom: smoothZoom 10s alternate infinite ;
  --animate-zigzag-fly:zigzag-fly 6s cubic-bezier(0, 0, 0.58, 1) forwards;
  --animate-text-flicker-in-glow:text-flicker-in-glow  2s forwards;
   @keyframes zoomInOut {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes smoothZoom {
    0% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    25% {
      transform: translateX(10px);
      animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    50% {
      scale: 1.04;
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }
    75% {
      transform: translateX(-10px);
      animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes zigzag-fly {
    0% {
      transform: translateX(-200px) translateY(0);
    }
    /* 10% {
      transform: translateX(10vw) translateY(-1px);
    } */
    /* 20% {
      transform: translateX(20vw) translateY(1px);
    }
    30% {
      transform: translateX(30vw) translateY(-1px);
    }
    40% {
      transform: translateX(40vw) translateY(1px);
    }
    50% {
      transform: translateX(50vw) translateY(-1px);
    }
    60% {
      transform: translateX(60vw) translateY(10px);
    }
    70% {
      transform: translateX(70vw) translateY(-1px);
    } */
    /* 80% {
      transform: translateX(80vw) translateY(10px);
    }
    90% {
      transform: translateX(90vw) translateY(-1px);
    } */
    100% {
      transform: translateX(100vw) translateY(-100px);
    }
  }
  @keyframes text-shadow-drop-down {
			
		0% {
			text-shadow:0 0 0 transparent;
		}
		100% {
			text-shadow:0px 15px 18px rgba(0,0,0,1);
		}
	}
  @keyframes text-flicker-in-glow {
			
		0% {
			opacity:0;
		}
		10% {
			opacity:0;
			text-shadow:none;
		}
		11% {
			opacity:1;
			text-shadow:none;
		}
		12% {
			opacity:0;
			text-shadow:none;
		}
		20% {
			opacity:0;
			text-shadow:none;
		}
		21% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.25);
		}
		22% {
			opacity:0;
			text-shadow:none;
		}
		30% {
			opacity:0;
			text-shadow:none;
		}
		31% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
		}
		32% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
		}
		33% {
			opacity:0;
			text-shadow:none;
		}
		45% {
			opacity:0;
			text-shadow:none;
		}
		46% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
		}
		55% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
		}
		56% {
			opacity:0;
			text-shadow:none;
		}
		56% {
			opacity:0;
			text-shadow:none;
		}
		57% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);
		}
		60% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);
		}
		61% {
			opacity:0;
			text-shadow:none;
		}
		65% {
			opacity:0;
			text-shadow:none;
		}
		66% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);
		}
		75% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);
		}
		76% {
			opacity:0;
			text-shadow:none;
		}
		77% {
			opacity:0;
			text-shadow:none;
		}
		78% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);
		}
		85% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);
		}
		86% {
			opacity:0;
			text-shadow:none;
		}
		87% {
			opacity:0;
			text-shadow:none;
		}
		88% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);
		}
		100% {
			opacity:1;
			text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);
		}
	}


}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.fixed-body {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
html {
  font-size: 16px; /* Base font size */
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


